<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">購入希望リスト</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thread>
                <th>画像</th>
                <th>品名</th>
                <th>価格</th>
                <th>削除</th>
              </thread>
              <% sum = 0 %>
              <% @items.each do |item| %>
                <tbody>
                  <tr>
                    <td><img src="<%= item.image %>" width=100></td>
                    <td><%= item.name %></td>
                    <td>¥<%= item.price.to_s(:delimited) %></td>
                    <% sum += item.price %>
                    <td><input type="submit" value="削除" onClick="
                      if(window.confirm('<%= item.name %>を本当に削除しますか？')) {
                        var form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/delete_purchase/<%= item.id %>';
                        document.body.appendChild(form);
                        form.submit();
                      }
                    "></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">合計金額</h4>
          </div>
          <div class="content">
            <h1>¥<%= sum.to_s(:delimited) %></h1>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var budget = 1000000;
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["購入希望金額","残り予算"],
      datasets: [{
        backgroundColor: [
          "#3498db",
          "#e74c3c"
        ],
        data: [<%= sum %>, (budget-<%= sum %>)]
      }]
    }
  });
</script>